h5 {
    font-size: 20;
}
p {
    font-size: 20;
}
p.button {
    font-size: 14;
}
p.discliamer {
    font-style: italic;
    font-size: 14;
}
p.example {
    font-style: italic;
    font-size: 16;
}
li {
    font-size: 20;
}
.center {
    text-align: center;
    vertical-align: middle;
}
